<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <connectionStrings>
    <add name="DefaultDBconn" connectionString="Data Source=10.101.0.91\MSSQLSERVER2014;Initial Catalog=Logistic; User ID=sa;Password=keesong.2014" providerName="System.Data.SqlClient" />
    <add name="DefaultDBconn2" connectionString="Data Source=10.101.0.91\MSSQLSERVER2014;Initial Catalog=KSBbase; User ID=sa;Password=keesong.2014" providerName="System.Data.SqlClient" />
    <add name="NAVDBconn" connectionString="Data Source=KSNAV;Initial Catalog=Keesong; User ID=sa2;Password=printer" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultDBconn" connectionString="Data Source=13.67.50.252;Initial Catalog=Inventory_KB; User ID=keesongIT;Password=printer" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultDBconn" connectionString="Data Source=13.67.50.252;Initial Catalog=Inventory_KSO; User ID=keesongIT;Password=printer" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings >
    <add key="DatabaseCompanyPrefix" value="KSFC_20220122$"/>
    <add key ="AttendanceReportTemplatePath"  value="C:\Temp\LogisticTemplate\AttendanceReport.xlsx"/>
    <add key ="ExtraTripReportTemplatePath"  value="C:\Temp\LogisticTemplate\ExtraTripReport.xlsx"/>
    <add key ="CommissionReportTemplatePath"  value="C:\Temp\LogisticTemplate\CommissionReport.xlsx"/>
  </appSettings>
  
  
  
</configuration>