<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <appSettings>
    <!--<add key="DatabaseCompanyPrefix" value="KSFC_20210404TEST$"/>
    <add key="SourceARFolderPath" value="C:\Statements\" />
    <add key="SourceInvFolderPath" value="C:\Temp\Invoice\" />
    <add key="NASBackupPath" value="C:\Temp\ARBackup\" />-->


    <add key="DatabaseCompanyPrefix" value="KSFC-New$"/>
    <add key="SourceARFolderPath" value="\\10.0.0.5\NAV-ExportAR\NavisionAR\NAVAR\" />
    <add key="NASBackupPath" value="\\10.101.0.12\NavFile\NAV-AR\CombineARInvoice\" />

    <add key="RecipientEmail" value="" />
    <add key="RecipientCCEmail" value="piaw1212@hotmail.com;piaw901212@gmail.com" />
    <add key="SenderEmail" value="ksfc.soa@keesong.com"/>
    <add key="SenderEmailPWD" value="KS0ng@2029"/>

    <add key="CanPrint" value="True" />  <!--True or False-->
    
  </appSettings>

  <connectionStrings>
    <add name="DefaultDBconn" connectionString="Data Source=10.101.0.91\mssqlserver2014;Initial Catalog=KSBTW; User ID=sa2;Password=" providerName="System.Data.SqlClient"/>
    <add name="DefaultNAVconn" connectionString="Data Source=10.0.0.5;Initial Catalog=KEESONG; User ID=sa2;Password=printer" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>