<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="DefaultDBconn" connectionString="Data Source=10.101.0.91\mssqlserver2014;Initial Catalog=KSOLJobOrder; User ID=sa2;Password=" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultDBconn" connectionString="Data Source=MSI\MSSQLSERVER2014;Initial Catalog=KSOLJobOrder; User ID=sa2;Password=Piaw.1212" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultMySqlDBconn" connectionString="SERVER=13.228.57.213;DATABASE=keesong_live2;UID=keesong_dev02;PASSWORD=@haha1212HA;" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultMySqlDBconn" connectionString="SERVER=13.228.57.213;DATABASE=d3m0ks09_data;UID=d3m0ks09_dev02;PASSWORD=@haha1212HA;" providerName="System.Data.SqlClient"/>-->
    
  </connectionStrings>

<appSettings>
    <add key="DateFormat" value="yyyy-MM-dd"/> 
    <add key="ViewPrintModeOnly" value="false"/> 

  </appSettings>

  
<runtime> 
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
</dependentAssembly> 
 
<dependentAssembly> <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly>
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
 </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/> 
</dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/> </dependentAssembly>
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/> </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/> </dependentAssembly> 
 
<dependentAssembly> 
<assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral"/> <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/> </dependentAssembly> 
 
</assemblyBinding> 
</runtime>

</configuration>
