<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefaultDBconn" connectionString="Data Source=10.101.0.84\svrdb1;Initial Catalog=KsbBase; User ID=sa;Password=printer" providerName="System.Data.SqlClient" />
    <add name="DefaultDBconn2" connectionString="Data Source=10.101.0.91\MSSQLSERVER2014;Initial Catalog=ERPWeighing; User ID=sa2;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="LocationAddress" value="Defu Lane 2 "/>
    <add key="CrateUnitWeight" value="1.80"/> <!-- KG-->
    <add key="TrayUnitWeight" value="0.009"/> <!-- KG-->
    <add key="ComPort" value="COM3"/> <!-- COM4-->
    <add key="SQLDateFormat" value="yyyy-MM-dd"/>
    <add key="TemplatePath" value="C:\Temp\TransferOrderTemplate\TransferOrder(HALAL).xlsx"/>
    <add key="FORM_Mode" value="Weighing"/>
    <add key="DecimalPlaces" value="1"/>
    <add key="ToSkipSKU" value="NS02,NS03,NS05,NS06,NS07,NS08,NS09,NS10,NS11,NS13"/>
    <add key="BufferPercentage" value="20"/> <!-- In percentage % (just type number) -->

  </appSettings>
  
  
  
  
</configuration>